@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../fonts/TTLakes-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.eot") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "TT Lakes";
  color: #1b1c21;
  background: #f2f2f2;
  margin: 0;
  height:100vh;
}

.main-container {
  height: 100%; 
  width: 100%px;
  min-width: 320px;
  max-width: 1119px;
  height: 100%;
  background: #f8f8f8;
}

@media screen and (min-width: 1119px) {
  .main-container {
    margin: 0 auto;
    height: auto;
  }
}

.upper-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 88px;
  margin: 0;
  background: white;
  border-bottom: 1px solid #d9fff5;
}

.upper-menu__left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.upper-menu__right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.upper-menu__right-part > .upper-menu__item {
  margin-right: 15px;
}

.upper-menu__left-part > .upper-menu__item {
  margin-left: 15px;
}

.upper-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upper-menu__item--hidden {
  display: none;
}

@media screen and (max-width: 1119px) and (min-width: 500px) {
  .upper-menu__item--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.upper-menu__home-link:hover .logo {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.delimeter {
  height: 32px;
  width: 2px;
  background: #eaeaea;
}

@media screen and (min-width: 1119px) {
  .delimeter {
    display: none;
  }
}

.btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none !important;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn-link__title {
  display: none;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;
  font-weight: 500;
  color: #1b1c21 !important;
  margin-right: 10px;
}

@media screen and (min-width: 1119px) {
  .btn-link__title {
    display: block;
  }
}

.btn-link:hover .btn-link__title {
  text-decoration: underline;
}

.btn-link:hover .btn-link__img {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.title {
  border-left: 4px solid #41f6d7;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.title__box {
  width: 300px;
  margin: 25px 0;
}

.title__text {
  margin: 0;
  text-indent: 15px;
  font-size: 28px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  font-weight: bold;
}

.slide-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}

.slide-menu__items {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0 15px;
}

@media screen and (min-width: 1119px) {
  .slide-menu__items {
    max-width: 1120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.slide-menu__item--active {
  background: white;
  border-radius: 5px;
  border: 2px solid #b8ffec;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slide-menu__item {
  margin-right: 5px;
  height: 40px;
  padding: 8px 15px;
  list-style: none;
  display: inline-block;
}

.slide-menu__anchor {
  text-decoration: none !important;
  font-weight: 500;
  color: #7e7e82;
}

.slide-menu__anchor:hover {
  text-decoration: underline !important;
  color: #4c4c4e;
}

.slide-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.slide-menu__description {
  padding: 0 15px;
  width: auto;
  margin-bottom: 25px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .slide-menu__description {
    max-height: 120px;
    max-width: 290px;
  }
}

@media screen and (max-width: 1119px) and (min-width: 500px) {
  .slide-menu__description {
    max-height: 160px;
    max-width: 312px;
  }
}

@media screen and (min-width: 1119px) {
  .slide-menu__description {
    max-width: 500px;
    max-height: 180px;
  }
}

.slide-menu__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin: 0;
  overflow: hidden;
 
}

.slide-menu__text--md {
  display: none;
}

@media screen and (min-width: 768px) {
  .slide-menu__text--md {
    display: inline;
  }
}

.slide-menu__text--lg {
  display: none;
}

@media screen and (min-width: 1119px) {
  .slide-menu__text--lg {
    display: inline;
  }
}

.slide-menu__more-btn {
  position: relative;
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  margin: 10px 0 10px 35px; 
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-decoration: none !important;
  color: #1b1c21 !important;
  
}

.slide-menu__more-btn:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.slide-menu__more-btn:hover::before {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.slide-menu__more-btn::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 6px;
  background-image: url("../img/icon.svg");
  background-size: 85%;
  background-repeat: no-repeat;
  height: 12px;
  width: 11px;
}

.slide-menu__img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  margin:auto;
  margin-bottom: 25px;
}


@media screen and (max-width: 1119px) and (min-width: 500px) {
  .slide-menu__img {
    height: 260px;
    width: 360px;
    margin-top:25px;
    margin-left: 48px;
    margin-bottom: 25px;
  }
}
.fold-out-menu {
    background-color: #fff;
    position: absolute;
    width: 320px;
    height:100%;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    /*transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
*/
}
.fold-out-upper-menu {
display: flex;
justify-content: flex-start;
}
.fold-out-menu__items {
  margin-top:15px;
}
.fold-out-menu__item{
  color: rgba(27, 28, 33, 1);

  padding:16px 20px;
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0,2px;
  border-left: 4px solid #fff;
}
.fold-out-menu__title {
  color: #7E7E82;
  border-left: 4px solid #41f6d7;
}
.fold-out-menu__content {
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fold-out-menu-footer {
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
}
.contact-buttons {
  display:flex;
  justify-content: flex-start;
  padding-left: 16px;
}
.lower-menu__item {
  padding: 0 8px;
}
.contacts {
  text-align: left;
  padding: 25px;
  text-decoration: none;
}
.mail-us {
line-height: 28px;
font-size: 16px;
line-height: 24px;
text-decoration: none;
letter-spacing: -0.2px;
color: #1B1C21;
}
.call-us { 
font-size: 24px;
line-height: 32px;
text-decoration: none;
color: #1B1C21;
font-weight: bold;
}

@media screen and (min-width: 1119px) {
  .slide-menu__img {
    height: 300px;
    width: 530px;
    margin-left: 36px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #1B1C21;
  }
}
